.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.2s ease-in-out;
}

.modal {
    position: relative;
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.25s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: #f34c4a;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
    border: none;
}

.close-btn:hover {
    color: #ffffff;
    transform: scale(1.1);
}

i.fa-solid.fa-x{
    font-size: 14px;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
